auto-install-peers=true
strict-peer-dependencies=false
node-linker=hoisted
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=@tsparticles/engine
only-built-dependencies[]=core-js
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=esbuild
trust-lockfile=true
minimum-release-age=0
