{
	"useTabs": true,
	"tabWidth": 1,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"printWidth": 100,
	"endOfLine": "lf",
	"vueIndentScriptAndStyle": false,
	"htmlWhitespaceSensitivity": "strict",
	"overrides": [
		{
			"files": "*.vue",
			"options": {
				"parser": "vue",
				"htmlWhitespaceSensitivity": "strict",
				"vueIndentScriptAndStyle": false,
				"useTabs": true,
				"tabWidth": 1,
				"printWidth": 120,
				"singleAttributePerLine": true,
				"bracketSameLine": false
			}
		},
		{
			"files": ["*.ts", "*.tsx"],
			"options": {
				"parser": "typescript",
				"useTabs": true,
				"tabWidth": 1,
				"semi": true,
				"singleQuote": true,
				"trailingComma": "all"
			}
		},
		{
			"files": ["*.js", "*.mjs"],
			"options": {
				"parser": "babel",
				"useTabs": true,
				"tabWidth": 1,
				"semi": true,
				"singleQuote": true,
				"trailingComma": "all"
			}
		}
	]
}
